@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

}
.card{
    background-color: pink;
    width: 32%;
    padding: 20px 10px;
    border-radius: 20px;
    text-align: center;
    border: solid 3px rgb(255, 144, 163);

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween{
    justify-content: space-between;
}

.panier{
 background-color: black;
 padding: 5px;
 border-radius: 5px;
 text-align: center;
}

.top20{
    margin-top: 20px;
}

.top50 {
    margin-top: 50px;
}
.w10{
    width: 10%;
}
.w25{
    width: 25%;
}
.w28{
    width: 28%;
}
.w40{
    width: 40%;
}

.w50{
    width: 50%;
}
.w90{
    width: 90%;
}
.textCenter {
    text-align: center;
}

.alignItems {
    align-items: center;
}

.container {
    margin: 100px;
}

.img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 235, 197, 0.61);
}

.genre{
    background-color: rgba(177, 177, 177, 0.459);
    border-radius: 10px;
}
.grey{
    background-color: grey;
    
}


